@import "./functions";
@import "./variables";
@import "./partials/hero.scss";

//main
$spotify: #1ed760;

$new-theme-colors: (
  "spotify": $spotify,
);
$theme-colors: map-merge($theme-colors, $new-theme-colors);
$new-colors: (
  "spotify": $spotify,
);
$colors: map-merge($colors, $new-colors);
body {
  height: 100%;
  overflow: hidden; /* Evita lo scroll del body */
}

//main

body {
  height: 100%;
  overflow: hidden; /* Evita lo scroll del body */
}
.fullscreen-aside {
  position: fixed; /* Posiziona l'aside in modo fisso rispetto alla viewport */
  top: 0;
  left: 0;
  width: 100vw; /* Imposta la larghezza al 100% della viewport */
  height: 80vh; /* Imposta l'altezza al 100% della viewport */
  z-index: 999;
}

.asideScroll {
  --sb-track-color: #ffffff00;
  --sb-thumb-color: #a3a3a35f;
  --sb-size: 8px;
}

.asideScroll::-webkit-scrollbar {
  width: var(--sb-size);
}

.asideScroll::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 8px;
}

.asideScroll::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 8px;
}

@supports not selector(::-webkit-scrollbar) {
  .asideScroll {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

/* Imposta un'altezza fissa per il main e rendilo scrollabile */
main {
  height: calc(100vh - 80px); /* Calcola l'altezza sottraendo quella dell'header */
}

.main-gradientC {
  background: linear-gradient(358deg, rgb(0 0 0 / 98%) 0%, rgb(0 0 0) 7%, rgb(0 0 0) 20%, rgb(58 19 19) 50%);
}
.album-section-gradient {
  /* fallback for old browsers */
  background: #cd9cf2;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to bottom, rgba(205, 156, 242, 0.5), rgba(10, 10, 10, 0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom, rgba(205, 156, 242, 0.5), rgba(10, 10, 10, 0.5));
}
.artist-section-gradient {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to bottom, rgba(132, 250, 176, 0.5), rgba(8, 8, 8, 0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom, rgba(132, 250, 176, 0.5), rgba(8, 8, 8, 0.5));
}
//foter reale
.footer-text {
  font-size: 12px;
  padding: 5px;
}
.text-f {
  font-size: 13px;
}

// footer
footer {
  position: sticky;
  z-index: 950;
  bottom: 0;
  left: 0;
  right: 0;
}

.controlli-riproduzione button {
  color: white;
  border: none;
  padding: 0;
  margin-inline: 0.5rem;
}

footer input {
  //stile per la barra di riproduzione e del volume
  -webkit-appearance: none;
  appearance: none; //rimuovo lo stile di default del type
  height: 4px;
  background: white; /* Colore bianco per la barra */
  outline: none; //contorno
  transition: background-color 0.2s, opacity 0.2s;
}

// Toggle invisibile
footer input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
  background: transparent;
}

footer input:hover {
  background: green; /* Barra verde al passaggio del mouse */
  opacity: 1;
}

footer input:hover::-webkit-slider-thumb {
  width: 12px; /* Rendi visibile il toggle */
  height: 12px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

.volume input {
  width: 100px;
}

// main content

.testH {
  background-color: rgba(48, 48, 48, 0) !important;
  .badgePlay {
    svg {
      opacity: 0;
      top: 7rem;
      right: 1rem;
    }
  }
}

.testH:hover {
  background-color: rgb(48, 48, 48, 1) !important;
  .badgePlay:hover {
    svg {
      opacity: 1;
      transition: 200ms;
      top: 6.5rem;
      right: 1rem;
      cursor: pointer;
    }
  }
}

// album page

.hoverRiga:hover {
  color: #55cf59 !important;
  background-color: #1c1c1c3c;
}

.search-bar {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.search-bar input {
  background-color: #1c1c1c;
  color: #fff;
  border-radius: 50px;
  outline: none;
}

.search-bar input:focus {
  box-shadow: none;
  outline: none;
}

//searchbar mobile
.searchButton {
  transition: width 0.3s ease, opacity 0.3s ease;
  width: 0;
  opacity: 0;
}

.searchButton.show {
  width: 200px;
  display: inline-block;
  opacity: 1;
}

@import "./bootstrap.scss";
